
<style>

    .blue {
        color:#178fe6;
    }

</style>

<div class="card hidden-xs">
    <div class="card-title">
        <h4><i class="fa fa-link">&nbsp;</i>友情链接</h4>
    </div>
    <div class="card-content">
        <ul>
            <li><a href="http://blog.didispace.com/" target="_blank">程序猿DD</a></li>
            <li><a href="http://www.ghostchina.com/" target="_blank">Ghost中国</a></li>
            <li><a href="https://ghost.org/" target="_blank">Ghost Blog</a></li>
        </ul>
    </div>
</div>