
<div class="card hidden-xs">
    <div class="card-title">
        <h4><i class="fa fa-th-large">&nbsp;</i>作品</h4>
    </div>
    <div class="card-content">
        <ul>
            <li><a href="http://www.baimaozixun.com/" target="_blank">白猫计划资讯站</a></li>
            <li><a href="http://blog.didispace.com/book/springboot/"  target="_blank">Spring Boot教程</a></li>
        </ul>
    </div>
</div>